.section-contact
    &__image
        .size-full
            width: 100%
            height: auto
    &__row
        background-size: cover !important
        padding: 100px 0
    &__intro
        .title__bright
            margin-top: 65px
            margin-bottom: 65px
            text-transform: uppercase
        .custom-container
            text-align: center