.section-intro
    &__image
        .size-full
            width: 100%
            height: auto
    &__row
        background-color: $main-grey
        padding: 50px 0
        .text__bright
            max-width: 500px
        .btn__green
            float: right
    &__header_logo
        position: absolute
        left: 0

.section-leistungen
    &__image
        .size-full
            width: 100%
            height: auto
    .column
        &__wrapper
            float: right
    &__row
        background-color: $main-bright
        padding: 0
    &__col-left
        padding: 100px 80px
        .title__black
            text-transform: uppercase
            margin-bottom: 100px
        .text__dark
            max-width: 370px
    &__col-right
        padding: 100px 80px
        background-size: cover !important
        ul
            list-style: none
            padding: 0
            li
                margin-bottom: 15px
                a
                    font-size: 34px
                    font-weight: bold
                    text-transform: uppercase
                    text-decoration: none
                    color: $main-bright

.section-projekte
    &__image
        position: relative
        .size-full
            width: 100%
            height: auto
    &__row
        background-size: cover !important
        padding: 100px 0
    &__col-left
        .title__bright
            text-transform: uppercase
            margin-bottom: 150px
        .text__bright
            max-width: 370px
    &__col-right
        padding: 0 80px
    &__logo
        width: 47px
        height: 33px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

.section-uberuns
    &__image
        .size-full
            width: 100%
            height: auto
    .column
        &__wrapper
            float: right
    &__row
        background-color: $main-bright
        padding: 100px 0px 200px 0
    &__col-left
        padding: 0 80px
        .title__black
            text-transform: uppercase
            margin-bottom: 100px
        .text__dark
            max-width: 370px
    &__col-right
        padding: 0 0 0 80px
        background-size: cover !important
        margin-top: -230px

.section-partnersmap
    &__row
        padding: 100px 0
        background-color: $main-grey
    &__title
        font-size: 18px
        font-weight: bold
        color: $main-bright
        text-transform: uppercase