.section-leistungen
    &__intro
        .section-leistungen
            &__row
                padding: 150px 0 300px 0
            &__col
                .title__green
                    max-width: 550px
                    font-style: italic
                    margin-bottom: 30px
                .text__dark
                    margin-bottom: 50px
                ul
                    list-style: none
                    padding: 0
                    li
                        margin-bottom: 10px
                        a
                            font-family: $nimbus-font
                            font-size: 22px
                            font-weight: 900
                            text-transform: uppercase
                            text-decoration: none
                            color: $main-grey
                            &:hover
                                border-bottom: 10px solid $main-green
    &__abbruch
        background-color: $main-bright
        &-row
            padding: 100px 0
            .title__black
                margin-bottom: 40px
            .text__dark
                margin-bottom: 30px
    &__entkernen
        background-size: cover !important
        &-row
            padding: 100px 0
            .title__bright
                margin-bottom: 40px
            .text__bright
                margin-bottom: 30px
        img
            width: 100%
    &__demontage
        background-color: $main-bright
        &-row
            padding: 100px 0
            .title__black
                margin-bottom: 40px
            .text__dark
                margin-bottom: 30px
        img
            width: 100%
    &__entsorgen
        background-color: $main-green
        &-row
            padding: 100px 0
            .title__black
                margin-bottom: 40px
            .text__dark
                margin-bottom: 30px
        img
            width: 100%
    &__beton
        background-color: $main-grey
        &-row
            padding: 100px 0
            .title__bright
                margin-bottom: 40px
            .text__bright
                margin-bottom: 30px
        img
            width: 100%