body.abbruch
    .section-services
        &__row.pos-absolute
            background-image: none !important
            background-color: #ffffff !important

body.entkernen
    .section-services
        &__row.pos-absolute
            background-size: cover !important
            .title__black, .text__dark
                color: $main-bright

body.demontage
    .section-services
        &__row.pos-absolute
            background-image: none !important
            background-color: $main-bright !important

body.entsorgen
    .section-services
        &__row.pos-absolute
            background-image: none !important
            background-color: $main-green !important

body.beton
    .section-services
        &__row.pos-absolute
            background-image: none !important
            background-color: $main-grey !important
            .title__black, .text__dark
                color: $main-bright


.section-services
    &__intro
        position: relative
    &__row
        padding: 100px 0
        .title__black
            text-transform: uppercase
            margin-bottom: 60px
        .text__dark
            max-width: 500px
    &__row.pos-absolute
        position: absolute
        width: 100%
        top: 0
        -webkit-mask-image: url("../../filters/services_filter.png")
        mask-image: url("../../filters/services_filter.png")
        mask-repeat: no-repeat
        -webkit-mask-repeat: no-repeat
        mask-size: cover
        -webkit-mask-size: cover
    &__gallery
        background-color: #ffffff
        padding: 150px 0 200px 0
    &__related
        background-color: $main-bright
        padding: 150px 0 200px 0

.services-single
    &__section-title
        font-family: $nimbus-font
        font-size: 32px
        font-weight: 900
        text-align: center
        text-transform: uppercase
        margin-bottom: 75px
