.section-uberunspage
    &__row
        background-size: cover !important
        padding: 100px 0
    &__intro
        .title__bright
            margin-top: 65px
            margin-bottom: 65px
            text-transform: uppercase
        .custom-container
            text-align: center
    &__about
        &__row
            background-color: $main-bright
            padding: 150px 0 200px 0
        .text__dark
            max-width: 440px
