.section-uberunspage
    &__row
        background-size: cover !important
        padding: 100px 0
    &__intro
        .title__bright
            margin-top: 65px
            margin-bottom: 65px
            text-transform: uppercase
        .custom-container
            text-align: center
    &__about
        &__row
            background-color: $main-bright
            padding: 150px 0 200px 0
        .text__dark
            max-width: 400px
    &__philosophie
        background-color: #ffffff
        .title__dark
            margin-top: 65px
            margin-bottom: 65px
            text-transform: uppercase
            font-weight: bold
        .custom-container
            text-align: center
    &__jobs
        padding-bottom: 100px
        background-color: $main-bright
        &__row
            padding: 150px 0 0 0
            .custom-container
                text-align: center
        .title__dark
            margin-top: 65px
            margin-bottom: 0
            text-transform: uppercase
            font-weight: bold
        .text__dark
            max-width: 400px
        