/*General*/
body
    overflow-x: hidden

.custom-container
    width: 100%
    padding-right: var(--bs-gutter-x,.75rem)
    padding-left: var(--bs-gutter-x,.75rem)
    margin-right: auto
    margin-left: auto
    max-width: 1110px

.brenta
    &__symbol
        width: 60px
        height: 43px

.title
    &__green
        font-family: $nimbus-font
        font-size: 5.375rem
        font-weight: 900
        color: $main-green
        position: relative
    &__black
        font-family: $nimbus-font
        font-size: 64px
        font-weight: 900
        color: $main-grey
        position: relative
    &__bright
        font-family: $nimbus-font
        font-size: 64px
        font-weight: 900
        color: $main-bright
        position: relative

.text
    &__bright
        font-family: $industry-font
        font-size: 0.95em
        line-height: 28px
        font-weight: normal
        color: $main-bright
        a
            color: $main-bright
    &__dark
        font-family: $industry-font
        font-size: 0.95em
        line-height: 28px
        font-weight: normal
        color: $main-grey
        a
            color: $main-grey

.page
    &__title
        font-family: $nimbus-font
        font-size: 64px
        font-weight: 900
        font-style: italic
        color: $main-grey
        text-transform: uppercase
        &-white
            color: $main-bright
            line-height: 50px
            margin-bottom: 0

/*Socials*/
.socials-wrapper
    svg
        width: 35px
        height: 35px
        background: #ffffff
        padding: 5px
        margin: 0 5px
        border-radius: 3px
        fill: $main-grey


/*Google Maps*/
.acf-map
    width: 100%
    border: #ccc solid 1px
    img
        max-width: inherit !important

.acf-map.map-kontakt
    height: 620px
    border: 0

.acf-map.map-homepage
    height: 620px
    border: 0

@include media-breakpoint-down(lg)
    .acf-map.map-kontakt
        height: 300px

    .acf-map.map-homepage
        height: 300px

    .title__green
        font-size: 3.375rem

    .title__black
        font-size: 30px
        display: inline-block
        left: 50%
        transform: translateX(-50%)
    
    .title__bright
        font-size: 30px
        display: inline-block
        left: 50%
        transform: translateX(-50%)

@include media-breakpoint-down(sm)
    .acf-map.map-kontakt
        display: none
    .acf-map.map-homepage
        display: none
