.btn
    &__green
        font-family: $nimbus-font
        font-weight: bold
        font-size: 19px
        background-color: $main-green
        border: 1px solid $main-green
        letter-spacing: 0.05em
        color: $main-grey
        border-radius: 0
        padding: 10px 30px
        text-transform: uppercase
        &:hover
            background-color: $main-bright !important
    &__white
        font-family: $nimbus-font
        font-weight: bold
        font-size: 19px
        background-color: $main-bright
        border: 1px solid $main-green
        letter-spacing: 0.05em
        color: $main-grey
        border-radius: 0
        padding: 10px 30px
        text-transform: uppercase
        &:hover
            background-color: $main-green !important
    &__transparent
        font-family: $nimbus-font
        font-weight: bold
        font-size: 19px
        background-color: transparent
        border: 1px solid $main-green
        letter-spacing: 0.05em
        color: $main-bright
        border-radius: 0
        padding: 10px 30px
        text-transform: uppercase
        &:hover
            background-color: $main-green !important
    &__transparent-green
        font-family: $nimbus-font
        font-weight: bold
        font-size: 19px
        background-color: transparent
        border: 1px solid $main-grey
        letter-spacing: 0.05em
        color: $main-bright
        border-radius: 0
        padding: 10px 30px
        text-transform: uppercase
        &:hover
            background-color: $main-bright !important
            color: $main-grey

#button-btt
  display: flex
  justify-content: center
  align-items: center
  background-color: rgb(34 34 34 / 40%)
  width: 50px
  height: 50px
  text-align: center
  position: fixed
  bottom: 40px
  right: 10px
  transition: all 400ms ease-in-out
  transform: perspective(300px) rotateY(-120deg) translateZ(-10px)
  box-shadow: 0 3px 20px rgb(0 0 0 / 22%)
  opacity: 0
  visibility: hidden
  z-index: 1000
  &:active
    background-color: rgb(34 34 34 / 100%)
  &:hover
    cursor: pointer
    background-color: rgb(34 34 34 / 100%)
  svg
    width: 20px
    fill: #fff
  
#button-btt.show
  opacity: 1
  visibility: visible
  transform: perspective(300px) rotateY(0deg)